body {
  background-color: #fffffc;
}
#panel {
  float: left;
  margin-right: auto;
  width: 180px;
}
#main {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.myCanvas {
  position: absolute;
  margin: 0;
  padding: 45px;
  left: 0;
  top: 0;
}
.area {
  margin-top: 10px;
  float: left;
  position: relative;

}
.memory{
  left:45px;
  top: 550px;
}

#area1 {
    background-color: #ffff00;
    width: 645px;
    height: 545px;
}
#area2 {
    background-color: #ff6347;
    width: 645px;
    height: 345px;
}
